<div class="mb-2">
  <p class="text-gray-400 mb-2">Filters</p>
</div>

<div class="flex flex-wrap gap-x-5 gap-y-2 mb-5">
  <div>
    <span class="flex items-center text-xs text-gray-400 mb-1">Availability</span>
    <div class="flex gap-1">
      <%= link_to recipes_path(filters: filters_params.merge(available: :available)), class: label_classes(color: (safe_availability_filter.eql?("available") ? "yellow" : "gray"), extra_classes: "w-20") do %>
        Available
      <% end %>
      <%= link_to recipes_path(filters: filters_params.merge(available: :all)), class: label_classes(color: (safe_availability_filter.eql?("all") ? "yellow" : "gray"), extra_classes: "w-20") do %>
        All
      <% end %>
    </div>
  </div>

  <div>
    <span class="flex items-center text-xs text-gray-400 mb-1">Event</span>
    <div class="flex gap-1">
      <%= link_to recipes_path(filters: filters_params.merge(event: :all)), class: label_classes(color: (safe_event_filter&.eql?("all") ? "green" : "gray"), extra_classes: "w-20") do %>
        All
      <% end %>
      <%= link_to recipes_path(filters: filters_params.merge(event: :ronin_reef)), class: label_classes(color: (safe_event_filter&.eql?("ronin_reef") ? "green" : "gray"), extra_classes: "w-20") do %>
        Ronin Reef
      <% end %>
    </div>
  </div>

  <div>
    <span class="flex items-center text-xs text-gray-400 mb-1">Special</span>
    <div class="flex gap-1">
      <%= link_to recipes_path(filters: filters_params.merge(special: :all)), class: label_classes(color: (safe_special_filter&.eql?("all") ? "pink" : "gray"), extra_classes: "w-20") do %>
        All
      <% end %>
      <%= link_to recipes_path(filters: filters_params.merge(special: 1)), class: label_classes(color: (safe_special_filter&.eql?("1") ? "pink" : "gray"), extra_classes: "w-20") do %>
        Yes
      <% end %>
      <%= link_to recipes_path(filters: filters_params.merge(special: 0)), class: label_classes(color: (safe_special_filter&.eql?("0") ? "pink" : "gray"), extra_classes: "w-20") do %>
        No
      <% end %>
    </div>
  </div>
</div>