<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3">
  <div class="flex p-4 border-1 border-gray-200 rounded-xl flex-col md:flex-1 px-4">
    <p class="flex gap-2 justify-between items-center mb-4">
      <span class="text-sm mt-[1px]">Info</span>
    </p>
    <% if pet.price.any? %>
    <div class="flex flex-col gap-2">
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px] pl-2">Price</span>
        <% pet.price.each do |price| %>
          <span class="flex-1 h-px bg-gray-100 mx-4"></span>
          <span class="<%= label_classes(color: "purple") %>">
            <%= image_tag("/images/icons-2/icon_#{price["unit"]&.downcase}.png", class: "h-[7px] mt-[-1px] mr-1") %>
            <%= number_with_delimiter(price["amount"]) %>
          </span>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="flex p-4 border-1 border-gray-200 rounded-xl flex-col md:flex-1 px-4">
    <p class="flex gap-2 justify-between items-center mb-4">
      <span class="text-sm mt-[1px]">Associations</span>
    </p>
    <div class="flex flex-col gap-2">
      <div class="flex text-xxs items-center justify-between">
        <% if pet.event && !pet.event.is_default_event? %>
          <span class="mt-[2px]">Event</span>
          <span class="flex-1 h-px bg-gray-100 mx-4"></span>
          <%= link_to event_path(pet.event.slug), class: "text-xxs text-blue-400 px-1.5 py-0.5" do %>
            <span class="flex">
              <%= pet.event.name %>
              <svg class="fill-blue-400 ml-1 h-[8px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                <path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l82.7 0L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3l0 82.7c0 17.7 14.3 32 32 32s32-14.3 32-32l0-160c0-17.7-14.3-32-32-32L320 0zM80 32C35.8 32 0 67.8 0 112L0 432c0 44.2 35.8 80 80 80l320 0c44.2 0 80-35.8 80-80l0-112c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 112c0 8.8-7.2 16-16 16L80 448c-8.8 0-16-7.2-16-16l0-320c0-8.8 7.2-16 16-16l112 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L80 32z"/>
              </svg>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>