<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">

	<% @pets.each do |pet| %>
		<div class="bg-white border border-gray-200 rounded-lg shadow-lg overflow-hidden">
			<div class="flex h-full">
				<div class="w-36 bg-no-repeat bg-contain bg-center" style="background-image: url('<%= asset_path "/images/items/item_#{pet.api_data.dig("imageName")}.png" %>')"></div>
				<div class="w-full p-2 flex flex-col gap-1 justify-center">
					<h3 class="text-lg font-semibold text-gray-800">
						<%= pet.api_data.dig("name") %>
					</h3>
					<div class="flex items-center gap-1">
						<%= rarity_label(pet.api_data.dig("quality")) %>
						<%= pet_price_label(pet.api_data.dig("price").first) %>
					</div>
					<p class="text-xs text-gray-600"><%= pet.api_data.dig("description") %></p>
				</div>
			</div>
		</div>
	<% end %>

</div>
