<div class="max-w-full mx-auto">
  <div class="flex flex-col">
    <div class="md:flex-1">
      <div class="w-full h-42 mb-4 rounded-xl overflow-hidden relative">
        <%= image_tag("/images/items/item_#{@pet.image_name}.png", class: "w-full h-full object-cover object-center rounded-xl") %>
        <div class="absolute top-1/2 right-4 z-10 transform -translate-y-1/2">
          <%= image_tag("/images/gifs/pets/#{@pet.image_name}.gif", class: "h-auto max-h-32 max-w-48 mr-4") %>
        </div>
        <div class="absolute bottom-4 left-4 z-10">
          <div class="flex items-center">
            <%= image_tag("/images/items/item_#{@pet.image_name}.png", class: "w-14 rounded-full mr-4") %>
            <div class="flex flex-col gap-1">
              <span class="text-white w-full truncate">
                <%= @pet.name %>
              </span>
              <span class="text-white w-full text-xs"><%= @pet.description %></span>
              <div class="flex gap-2">
                <span class="flex items-center">
                  <%= rarity_label(@pet.quality) %>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="absolute inset-0 bg-black/18 backdrop-blur-2xl"></div>
      </div>
    </div>
    <%= render partial: "pets/partials/pet_grids", locals: { pet: @pet } %>
  </div>
</div>

