
<div class="fixed left-0 flex flex-col items-center w-16 h-full overflow-hidden text-gray-700 bg-gray-100 rounded">
  <div class="flex items-center justify-center mt-6">
		<%= image_tag("/images/extras/head_icon.png", class: "h-8 w-auto", alt: "Logo") %>
  </div>
  <div class="flex flex-col items-center mt-3 border-t border-gray-300">
    <%= link_to dashboard_path, class: "flex items-center justify-center w-12 h-12 mt-2 rounded #{nav_item_classes("")}" do %>
      <%= icon_home(nav_item_active?("") ? "white" : "gray-400") %>
    <% end %>
    <%= link_to players_path, class: "flex items-center justify-center w-12 h-12 mt-2 rounded #{nav_item_classes("player")}" do %>
      <%= icon_user_group(nav_item_active?("player") ? "white" : "gray-400") %>
    <% end %>
    <%= link_to fish_index_path, class: "flex items-center justify-center w-12 h-12 mt-2 rounded relative #{nav_item_classes("fish")}" do %>
      <%= icon_fish(nav_item_active?("fish") ? "white" : "gray-400") %>
      <div class="<%= label_classes(color: "blue", extra_classes: "absolute top-[-5px] right-[-10px] text-xxs") %>">NFT</div>
    <% end %>
    <%= link_to rods_path, class: "flex items-center justify-center w-12 h-12 mt-2 rounded relative #{nav_item_classes("rods")}" do %>
      <%= icon_rod(nav_item_active?("rods") ? "white" : "gray-400") %>
      <div class="<%= label_classes(color: "blue", extra_classes: "absolute top-[-5px] right-[-10px] text-xxs") %>">NFT</div>
    <% end %>
    <%= link_to chests_path, class: "flex items-center justify-center w-12 h-12 mt-2 rounded relative #{nav_item_classes("chests")}" do %>
      <%= icon_chest(nav_item_active?("chests") ? "white" : "gray-400") %>
      <div class="<%= label_classes(color: "blue", extra_classes: "absolute top-[-5px] right-[-10px] text-xxs") %>">NFT</div>
    <% end %>
    <%= link_to pets_path, class: "flex items-center justify-center w-12 h-12 mt-2 rounded #{nav_item_classes("pets")}" do %>
      <%= icon_pet(nav_item_active?("pets") ? "white" : "gray-400") %>
    <% end %>
    <%= link_to recipes_path, class: "flex items-center justify-center w-12 h-12 mt-2 rounded #{nav_item_classes("recipe")}" do %>
      <%= icon_chef(nav_item_active?("recipe") ? "white" : "gray-400") %>
    <% end %>
    <%= link_to sushis_path, class: "flex items-center justify-center w-12 h-12 mt-2 rounded #{nav_item_classes("sushi")}" do %>
      <%= icon_sushi(nav_item_active?("sushi") ? "white" : "gray-400") %>
    <% end %>
    <%= link_to events_path, class: "flex items-center justify-center w-12 h-12 mt-2 rounded #{nav_item_classes("events")}" do %>
      <%= icon_calendar(nav_item_active?("events") ? "white" : "gray-400") %>
    <% end %>
  </div>
  <div class="flex flex-col items-center mt-2 border-t border-gray-300">
  </div>
  <%= link_to about_path, class: "flex items-center justify-center w-16 h-16 mt-auto bg-gray-200 #{nav_item_classes("about")}" do %>
    <%= icon_hand_wave(nav_item_active?("about") ? "white" : "gray-400", extra_classes: "animate-wave") %>
  <% end %>
</div>