<div class="bg-white border border-1 border-gray-200 rounded-lg shadow-xs flex flex-col justify-between transform transition-transform duration-300 hover:translate-y-[-0.2rem] overflow-hidden">
  <div>
    <div class="p-2 flex gap-2">
      <% if @image_path.present? %>
        <div class="w-16 h-16 rounded-full overflow-hidden flex-shrink-0 <%= @image_classes %>">
          <img class="w-full h-full object-cover <%= "transform scale-120" if scale_image? %>" src="<%= asset_path "#{@image_path}" %>">
        </div>
      <% end %>
      <div class="flex flex-col flex-1 gap-2 justify-center w-full min-w-0">
        <div class="flex flex-row items-start justify-between">
        <% unless @title.blank? %>
          <div class="min-w-0 flex-1">
            <h3 class="text-sm font-semibold text-gray-800 w-full">
              <span class="truncate block w-full">
                <%= @title %>
              </span>
            </h3>
            <% unless @subtitle.blank? %>
              <span class="block ml-1 text-gray-400 text-xxs"><%= @subtitle %></span>
            <% end %>
          </div>
          <% if @top_right_labels.any? %>
            <div class="flex flex-row flex-shrink-0 gap-1">
              <% @top_right_labels.each do |label| %>
                <%= label %>
              <% end %>
            </div>
          <% end %>
        <% end %>
        </div>
        <% unless @description.blank? %>
          <p class="text-xs font-semibold text-gray-800"><%= @description %></p>
        <% end %>
        <% if @labels.any? %>
          <div class="flex flex-wrap w-full items-start gap-1">
            <% @labels.each do |label_html |%>
              <%= label_html %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% unless @right_footer.blank? && @left_footer.blank? %>
  <div class="flex p-2 items-center justify-between bg-gray-100">
    <% unless @right_footer.blank? %>
      <span class="text-xxs font-regular text-gray-900 mr-1 flex flex-row items-center">
          <span class="ml-1"><%= @right_footer %></span>
      </span>
    <% end %>
    <% unless @left_footer.blank? %>
      <span class="text-xxs font-regular text-gray-900 mr-1 flex flex-row items-center">
          <span class="ml-1"><%= @left_footer %></span>
      </span>
    <% end %>
  </div>
  <% end %>
</div>