<div class="bg-white border border-1 border-gray-200 rounded-lg shadow-xs flex items-center p-3">
  <div class="w-full">
    <p class="text-xs text-gray-400 mb-1"><%= @name %></p>
    <p class="text-sm text-gray-800 flex items-center">
      <%= number_with_delimiter(@value) %>
      <% if @image_path %>
        <%= image_tag(@image_path, class: "h-[12px] ml-1") %>
      <% end %>
    </p>
  </div>
  <% if @percentage_changes.any? %>
    <div class="flex w-full gap-0.5 justify-end">
    <% @percentage_changes.each do |time_frame, percentage| %>
      <div class="flex flex-col gap-0.5 items-center w-11">
        <span class="text-xxs text-gray-300"><%= time_frame %></span>
        <span class="text-xxs <%= percentage_color(percentage) %>">
          <%= percentage_suffix(percentage) %><%= percentage %>%
        </span>
      </div>
    <% end %>
    </div>
  <% end %>
</div>

