<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3">
  <div class="flex p-4 border-1 border-gray-200 rounded-xl flex-col md:flex-1 px-4">
    <p class="flex gap-2 justify-between items-center mb-4">
      <span class="text-sm mt-[1px]">Info</span>
    </p>
    <div class="flex flex-col gap-2">
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px]">Current Energy</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
        <span class="<%= label_classes(color: "white") %>">
          <%= player.current_player_metric.energy %>/30
        </span>
      </div>
      <%# Fishing %>
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px]">Fishing</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
      </div>
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px] pl-2">Level</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
        <span class="<%= label_classes(color: "blue") %>">
          <%= player.current_level_from_exp[:level] %>
        </span>
      </div>
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px] pl-2">Exp.</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
        <span class="<%= label_classes(color: "white") %>">
          <%= number_with_delimiter(player.current_player_metric.exp.round) %>
        </span>
      </div>
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px] pl-2">=> <%= player.next_level_from_exp[:level] %></span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
        <span class="<%= label_classes(color: "white") %>">
          <%= number_with_delimiter(
            player.next_level_from_exp[:required_xp] - player.current_level_from_exp[:required_xp]
          )
          %>
        </span>
      </div>
      <%# Cooking %>
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px]">Cooking</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
      </div>
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px] pl-2">Level</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
        <span class="<%= label_classes(color: "blue") %>">
          <%= player.current_player_metric.cooking_level %>
        </span>
      </div>
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px] pl-2">Exp.</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
        <span class="<%= label_classes(color: "white") %>">
          <%= number_with_delimiter(player.current_player_metric.cooking_exp.round) %>
        </span>
      </div>
      <%# Other %>
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px]">Dates</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
      </div>
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px] pl-2">Joined In</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
        <span class="<%= label_classes(color: "white") %>">
          <%= Date.parse(player.current_player_metric.first_login_time).strftime("%b %Y") %>
        </span>
      </div>
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px] pl-2">Last Login</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
        <span class="<%= label_classes(color: "white") %>">
          <%= time_ago_in_words(player.current_player_metric.last_login_time).gsub("about", "~") %> ago
        </span>
      </div>
    </div>
  </div>

  <div class="flex p-4 border-1 border-gray-200 rounded-xl flex-col md:flex-1 px-4">
    <p class="flex gap-2 justify-between items-center mb-4">
      <span class="text-sm mt-[1px]">Ranking</span>
    </p>
    <div class="flex flex-col gap-2">
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px]">FFDB Rank</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
        <span class="<%= label_classes(color: "red") %>">
          <%= player.current_player_rank&.global_calculated_rank ? ordinal_superscript(player.current_player_rank.global_calculated_rank) : "Unranked" %>
        </span>
      </div>
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px]">Fishing</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
      </div>
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px] pl-2">Tier</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
        <% fishing_rank_tier = player.current_player_rank&.api_data&.dig("fishing", "tier") %>
        <span class="<%= label_classes(color: ranking_tier_color(fishing_rank_tier), extra_classes: "flex items-center") %>">
          <% if player.has_fishing_rank? %>
            <%= image_tag("/images/icons-2/icon_#{fishing_rank_tier.downcase.underscore}.png", class: "mr-1 mt-[-1px] h-[10px]") %>
            <%= fishing_rank_tier.humanize %>
          <% else %>
            Unranked
          <% end %>
        </span>
      </div>
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px] pl-2">Rank</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
        <span class="<%= label_classes(color: "white") %>">
          <%= player.has_fishing_rank? ? ordinal_superscript(player.current_player_rank.api_data.dig("fishing", "rank")) : "Unranked" %>
        </span>
      </div>
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px]">Cooking</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
      </div>
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px] pl-2">Tier</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
        <% cooking_rank_tier = player.current_player_rank&.api_data&.dig("cooking", "tier") %>
        <span class="<%= label_classes(color: ranking_tier_color(cooking_rank_tier), extra_classes: "flex items-center") %>">
          <% if player.has_cooking_rank? %>
            <%= image_tag("/images/icons-2/icon_#{cooking_rank_tier.downcase.underscore}.png", class: "mr-1 mt-[-1px] h-[10px]") %>
            <%= cooking_rank_tier.humanize %>
          <% else %>
            Unranked
          <% end %>
        </span>
      </div>
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px] pl-2">Rank</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
        <span class="<%= label_classes(color: "white") %>">
          <%= player.has_cooking_rank? ? ordinal_superscript(player.current_player_rank.api_data&.dig("cooking", "rank")) : "Unranked" %>
        </span>
      </div>
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px]">Frenzy Points</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
      </div>
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px] pl-2">Rank</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
        <span class="<%= label_classes(color: "white") %>">
          <%= player.has_frenzy_points_rank? ? ordinal_superscript(player.current_player_rank.api_data&.dig("frenzy_points", "rank")) : "Unranked" %>
        </span>
      </div>
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px] pl-2">Points</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
        <span class="<%= label_classes(color: "white") %>">
          <%= player.has_frenzy_points_rank? ? number_with_delimiter(player.current_player_rank.api_data&.dig("frenzy_points", "points")) : "Unranked" %>
        </span>
      </div>
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px] pl-2">Multiplier</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
        <span class="<%= label_classes(color: "white") %>">
          <%= player.has_frenzy_points_rank? ? "x#{player.current_player_rank.api_data&.dig("frenzy_points", "multiplier")}" : "0" %>
        </span>
      </div>
    </div>
  </div>

  <div class="flex p-4 border-1 border-gray-200 rounded-xl flex-col md:flex-1 px-4">
    <p class="flex gap-2 justify-between items-center mb-4">
      <span class="text-sm mt-[1px]">Other</span>
    </p>
    <div class="flex flex-col gap-2">
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px]">Currencies</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
      </div>
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px] pl-2">Gold</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
        <span class="<%= label_classes(color: "yellow") %>">
          <%= image_tag("/images/icons/gold_icon.png", class: "h-[7px] mt-[-1px] mr-1") %>
          <%= number_with_delimiter(player.current_player_metric.gold) %>
        </span>
      </div>
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px] pl-2">Pearls</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
        <span class="<%= label_classes(color: "white") %>">
          <%= number_with_delimiter(player.current_player_metric.pearl) %>
        </span>
      </div>
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px] pl-2">Scales</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
        <span class="<%= label_classes(color: "white") %>">
          <%= number_with_delimiter(player.current_player_metric.scale) %>
        </span>
      </div>
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px] pl-2">Founder Emblems</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
        <span class="<%= label_classes(color: "white") %>">
          <%= number_with_delimiter(player.current_player_metric.founders_emblems) %>
        </span>
      </div>
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px]">Starter Pack</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
        <span class="<%= label_classes(color: "white") %>">
          <%= player.current_player_metric.has_purchased_starter_pack ? "Yes" : "No" %>
        </span>
      </div>
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px]">Battle Pass</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
        <span class="<%= label_classes(color: "white") %>">
          <%= player.current_player_metric.is_premium_battle_pass ? "Yes" : "No" %>
        </span>
      </div>
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px]">Activated Items</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
      </div>
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px] pl-2">Rod</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
        <span class="<%= label_classes(color: "white") %>">
          <%= player.current_player_metric.activated_rod ? "Yes" : "None" %>
        </span>
      </div>
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px] pl-2">Pet</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
        <div class="px-1.5">
          <% if (pet = player.associated_pet).present? %>
            <%= link_to pet_path(pet.slug), class: "flex gap-1 items-center" do %>
              <span class="mt-[2px]"><%= pet.name %> </span>
              <%= image_tag("/images/items/item_#{pet.image_name}.png", class: "rounded-full h-[14px]") %>
            <% end %>
          <% else %>
            None
          <% end %>
        </div>
      </div>
      <div class="flex text-xxs items-center justify-between">
        <span class="mt-[2px] pl-2">Other</span>
        <span class="flex-1 h-px bg-gray-100 mx-4"></span>
        <div class="px-1.5">
          <% if (items = player.current_player_metric.activated_items)&.any? %>
            <div class="flex gap-1">
              <% items.each do |item| %>
                <%= image_tag("/images/items/item_#{item["imageName"]}.png", class: "h-[14px]") %>
              <% end %>
            </div>
          <% else %>
            None
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
