<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Fishing Frenzy Data" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%= favicon_link_tag "/favicon.ico" %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    
    <%# Google tag (gtag.js) %>
    <% if Rails.env.production? %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-2PX4Y4FQS0"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-2PX4Y4FQS0');
      </script>
    <% end %>

    <%= javascript_importmap_tags %>
    
    <%# Using CDNs for now - need to setup yarn %>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
  </head>

  <body>

    <div id="flash" class="fixed z-20 bottom-2 left-2 right-2 flex flex-col gap-2" data-controller="flash">
      <%= render partial: "partials/flashes" %>
    </div>

    <%= render partial: "partials/nav" %>

    <main class="container mx-auto p-5">
      <%= yield %>
    </main>

    <script data-turbo-track="reload">
      var js_utils = {
        session_id: "<%= current_session_id %>",
        icon_ronin: "<%= asset_path("/images/icons-2/icon_ronin.png") %>",
        loader: "<%= asset_path("/images/fish_loader.png") %>"
      }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.5.2/flowbite.turbo.min.js"></script>
  </body>
</html>