<div class="mb-5">
  <p class="text-gray-400 mb-2">Statistics</p>
  <p class="text-xxs text-gray-300">
    last updated 
    <% if @collection.latest_statistic.present? %>
      <%= time_ago_in_words(@collection.latest_statistic.reference_date) %> ago
    <% else %>
      -
    <% end %>
  </p>
</div>

<% if @collection.latest_statistic.present? && @collection.previous_statistic.present? %>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mb-5">
    <% Utilities::StatisticsAggregator.call(@collection.statistics).each do |stat_name, percentage_changes| %>
      <%= render UI::StatisticCardComponent.new(
        name: human_stat_name(stat_name), 
        value: @collection.latest_statistic.data.dig(stat_name),
        image_path: %w[floor_price volume].include?(stat_name) ? asset_path("/images/icons-2/icon_ronin.png") : nil,
        percentage_changes: percentage_changes
      ) %>
    <% end %>
    <%= link_to "https://marketplace.roninchain.com/collections/fishing-frenzy-fish", class: "transform transition-transform duration-300 hover:translate-y-[-0.2rem] overflow-hidden cursor-pointer", target: :blank do %>
      <div class="bg-white w-full h-full border border-1 border-blue-200 rounded-lg shadow-xs flex flex-col gap-1 justify-center p-3">
        <span class="text-xxs text-gray-400">For more stats visit the</span>
        <span class="flex items-center gap-2 text-sm text-blue-400 ">
          Ronin Marketplace
          <%= icon_arrow_up("blue-400", size: 3)%>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="italic text-gray-300 text-center text-xs">No data here...</p>
<% end %>

<div class="mb-5">
  <p class="text-gray-400 mb-2">Items</p>
  <div class="flex gap-1">
    <span class="<%= label_classes %>"><%= @active_fishes.count %> currently available</span>
    <span class="<%= label_classes %>"><%= @all_fishes.count %> total</span>
  </div>
</div>

<p class="flex items-center text-xs text-gray-400 mb-1">
  Filters
</p>

<div class="flex gap-1 mb-5">
  <% fish_type = params[:fish_type] %>
  <%= link_to fish_index_path(fish_type: :all), class: label_classes(color: (fish_type&.eql?("all") ? "yellow" : "gray"), extra_classes: "w-18") do %>
    All
  <% end %>
  <%= link_to fish_index_path(fish_type: :shiny), class: label_classes(color: ((fish_type&.eql?("shiny") || fish_type.nil?) ? "yellow" : "gray"), extra_classes: "w-18") do %>
    Shiny
  <% end %>
  <%= link_to fish_index_path(fish_type: :other), class: label_classes(color: (fish_type&.eql?("other") ? "yellow" : "gray"), extra_classes: "w-18") do %>
    Other
  <% end %>
</div>

<% if @display_fishes.any? %>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <% @display_fishes.each do |fish| %>
      <%= link_to fish_path(fish.slug) do %>
        <%= render UI::ItemCardComponent.new(**item_card_fish_attributes(fish)) %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p class="italic text-gray-300 text-center text-xs">No data here...</p>
<% end %>