<div class="max-w-full mx-auto">
  <div class="flex flex-col">
    <div class="md:flex-1">
      <div class="w-full h-42 mb-4 rounded-xl overflow-hidden relative">
        <% large_image_path = if @fish.has_nft?
            "/images/fishes_shiny/#{@fish.image_name}_shiny.png" 
          else
            "/images/fishes/#{@fish.image_name}.png"
          end
        %>
        <%= image_tag(large_image_path, class: "w-full h-full object-cover object-center rounded-xl") %>
        <div class="absolute top-1/2 right-4 z-10 transform -translate-y-1/2">
          <%= image_tag(large_image_path, class: "h-auto max-h-32 max-w-48 mr-4") %>
        </div>
        <div class="absolute bottom-4 left-4 z-10">
          <div class="flex items-center">
            <%= image_tag("/images/items/item_#{@fish.image_name}.png", class: "w-14 rounded-full mr-4 #{"ring-1 bg-yellow-200 ring-yellow-400" if @fish.has_nft?}") %>
            <div class="flex flex-col gap-1">
              <span class="text-white w-full truncate">
                <%= @fish.name %>
              </span>
              <span class="text-white w-full text-xs"><%= @fish.description %></span>
              <div class="flex gap-2">
                <% if @fish.has_nft? %>
                  <%= nft_label %>
                <% end %>
                <span class="flex items-center">
                  <%= rarity_label(@fish.quality) %>
                </span>
                <% if @fish.has_nft? %>
                  <%= link_to @fish.marketplace_link, class: label_classes(color: "gray", extra_classes: "cursor-pointer"), target: :blank do %>
                    Marketplace
                    <svg class="ml-1 h-[8px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                      <path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l82.7 0L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3l0 82.7c0 17.7 14.3 32 32 32s32-14.3 32-32l0-160c0-17.7-14.3-32-32-32L320 0zM80 32C35.8 32 0 67.8 0 112L0 432c0 44.2 35.8 80 80 80l320 0c44.2 0 80-35.8 80-80l0-112c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 112c0 8.8-7.2 16-16 16L80 448c-8.8 0-16-7.2-16-16l0-320c0-8.8 7.2-16 16-16l112 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L80 32z"/>
                    </svg>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="absolute inset-0 bg-black/18 backdrop-blur-2xl"></div>
      </div>
    </div>
    <%= render partial: "fish/partials/fish_grids", locals: { fish: @fish } %>
  </div>
</div>

