<div class="max-w-full mx-auto">
  <div class="flex flex-col">
    <div class="md:flex-1">
      <div class="w-full h-42 mb-4 rounded-xl overflow-hidden relative">
        <% large_image_path = if @fish.has_nft?
            "/images/fishes_shiny/#{@fish.image_name}_shiny.png" 
          else
            "/images/fishes/#{@fish.image_name}.png"
          end
        %>
        <%= image_tag(large_image_path, class: "w-full h-full object-cover object-center rounded-xl") %>
        <div class="absolute top-1/2 right-4 z-10 transform -translate-y-1/2">
          <%= image_tag(large_image_path, class: "h-auto max-h-32 max-w-48 mr-4") %>
        </div>
        <div class="absolute bottom-4 left-4 z-10">
          <div class="flex items-center">
            <%= image_tag("/images/items/item_#{@fish.image_name}.png", class: "w-14 rounded-full mr-4 #{"ring-1 bg-yellow-200 ring-yellow-400" if @fish.has_nft?}") %>
            <div class="flex flex-col gap-1">
              <span class="text-white w-full truncate">
                <%= @fish.name %>
              </span>
              <span class="text-white w-full text-xs"><%= @fish.description %></span>
              <div class="flex gap-2">
                <% if @fish.has_nft? %>
                  <%= nft_label %>
                <% end %>
                <span class="flex items-center">
                  <%= rarity_label(@fish.quality) %>
                </span>
                <% if @fish.has_nft? %>
                  <%= link_to @fish.marketplace_link, class: label_classes(color: "gray", extra_classes: "flex gap-1 cursor-pointer"), target: :blank do %>
                    Marketplace
                    <%= icon_arrow_up("gray-500", size: 2) %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="absolute inset-0 bg-black/18 backdrop-blur-2xl"></div>
      </div>
    </div>
    <%= render partial: "fish/partials/fish_grids", locals: { fish: @fish, aggregated_stats: @aggregated_stats } %>
  </div>
</div>

